<div workbook-container id="WorkbookClassic">
   <div ng-repeat="day in ctrl.currentWeek" ng-click="day.toggleDay()">
      <div class="day">{{day.fullDayName}}</div>
      <table class="itemTable">
        <thead>
          <tr>
            <th>Reference</th>
            <th>Supplier</th>
            <th>Quantity</th>
            <th>Item</th>
            <th>Cost Price</th>
            <th>Total Price</th>
            <th>Transport</th>
            <th>Del Cost</th>
            <th>Customer</th>
            <th>Del Date</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Invoice Number</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="row in day.produce" ng-click="row.edit()">
            <td>{{row.refID}}</td>
            <td>{{row.supplier}}</td>
            <td>{{row.supplierQuantity}}</td>
            <td>{{row.item}}</td>
            <td>{{row.costPrice}}</td>
            <td>{{row.costPrice * row.supplierQuantity}}</td>
            <td>{{row.transport}}</td>
            <td>{{row.transportCost}}</td>
            <td>{{row.customer}}</td>
            <td>{{row.deliveryDate}}</td>
            <td>{{row.customerQuantity}}</td>
            <td>{{row.salePrice}}</td>
            <td>{{row.invoiceNumber}}</td>
          </tr>
        </tbody>
      </table>
   </div>
 
    <div class="controlbox">
      
    </div>
</div>