[loader] {
  
  position:absolute;
  top: 0px;
  left: 0px;
   display: -moz-box;      /* OLD: Firefox (buggy) */ 
   display: -ms-flexbox;   /* MID: IE 10 */
   display: -webkit-flex;  /* NEW, Chrome 21–28, Safari 6.1+ */
   display: flex;          /* NEW: IE11, Chrome 29+, Opera 12.1+, Firefox 22+ */

   -webkit-box-align: center; -moz-box-align: center; /* OLD… */
   -ms-flex-align: center; /* You know the drill now… */
   -webkit-align-items: center;
   align-items: center;

   -webkit-box-pack: center; -moz-box-pack: center; 
   -ms-flex-pack: center; 
   -webkit-justify-content: center;
   justify-content: center;

   margin: 0;
   height: 100%;
   width: 100%;
   color:#999;
   z-index: 999;
}
progress {
  background-color: #EDEDED;
  height: 30px;
  border-radius: 30px;
  display: block;
  -webkit-appearance: none;
  border: none;
}
progress::-webkit-progress-value {
  background-color: #C1FFAB;
  border-radius: 5px;
}
progress::-moz-progress-value {
  background-color: #C1FFAB;
  border-radius: 5px;
}
progress::-webkit-progress-bar  { 
  background-color: #EDEDED;
  border-radius: 5px;
}
progress::-moz-progress-bar {
  background-color: #EDEDED;
  border-radius: 5px;
}
