tr.active {
  background-color: #CCFFD4 !important;
}


.csstr {
  position: relative;
  display: table-row;
  counter-reset: tablenum;  
  @media (max-width: $screen-sm-min) {
    width: 100%;
    display: block;
    border-top: 2px solid black;
  }
}
.csstable {
  position: relative;
  display: table;
  table-layout: fixed;
  overflow: auto;
}
.csstd {
  height: 35px;
  line-height: 35px;
  border-right: 1px solid #CCCCCC;
  border-top: 1px solid #CCCCCC;
  padding-left: 15px;
  display: table-cell;
  position: relative;
  @media (max-width: $screen-sm-min) {
    border: 1px solid #CCCCCC;
    width: 100%;
    display: block;
  }
}
.csstr:nth-child(odd) {
  background-color: #DDDDDD;
}

.csstr:nth-child(even) {
  background-color: #FFFFFF;
}
.cssth {
  padding-left: 5px;
  border-right: 1px solid #CCC;
  border-top: 1px solid #CCC;
  border-bottom: 1px solid black;
  background-color: #FFFFFF;
  line-height: 35px;
  height: 35px;
  display: table-cell;
  font-weight: bold; 
  @media (max-width: $screen-sm-min) {
    border: 0px;
    border: 1px solid #CCCCCC;
    width: 100% !important;
    display: block;
    text-align: center;
  }
}
.csstr > .cssth:first-child, .csstr > .csstd:first-child { 
  border-left: 1px solid #CCC;
}
.csstable > .csstr:last-child > .csstd {
  
  border-bottom: 1px solid #CCC;
}

.csstable input, .csstable select, .csstable button, .csstable .form-control {
  box-shadow: inset 0px 1px 4px rgba(200,200,200,0.3);
/*  -webkit-box-shadow: inset -2px -2px 14px 0px rgba(108, 175, 200, 0.05);
  -moz-box-shadow: inset -2px -2px 14px 0px rgba(108, 175, 200, 0.05);
  box-shadow: inset -2px -2px 14px 0px rgba(108, 175, 200, 0.05);
  */  
  height: 33px;
 /* margin-left: 15px;*/
  position: absolute;
  border-radius: 0px;
  width: 100%;
  border: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: 0;
}

