
.flex-form {
      display: -webkit-flex;
      -webkit-flex-direction: row;

      display: flex;
      flex-direction: row;
}

.wkb.checkbox {
  margin-top: 0px;
  margin-bottom: 0px;
}

.fullwidth {
  width: 100%;
}
