@import "bootstrap";
@import "_mixins";
@import "_navbar";
@import "_loader";
@import "_table";
@import "_workbook";
@import "_lists";
@import "_sales";
@import "_content-drop-down";

/*
* BASE STYLES
*/

body { padding-top: 70px; }
.ng-hide, 
.ng-show {
  display: none !important;
}

[ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.form-inline .form-group input,
.form-inline .form-group select {
  width: auto;
  margin-left: 10px; 
  margin-right: 10px;
}

.control-label.small {
  font-size: 12px;
  text-transform: uppercase;
}
[ng-click] {  
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.flat {
  @extend .btn-default;
  @extend .btn;
  height: 40px;
  width: 100%;
  border-radius: 0px;
}

.table input:focus,
 .table select:focus,
  .table button:focus {
  z-index: 2;
}

input[type="color"] {
  padding: 0;
}
.no-gutter-left {
  padding-left:0;
}
.no-gutter-right {
  padding-right: 0;
}
.no-gutter {
  @extend .no-gutter-left;
  @extend .no-gutter-right;
}
.no-padding {
  padding: 0;
}


.alert-top {
  margin-bottom: 0;
  border-radius: 0px;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.alert-bottom {
  border-radius: 0px;
  -webkit-border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
  
/* 
 * MEDIA QUERIES 
 */
 
@media (max-width: 992px) {
  .btn-upleft:after {
    content: "ADD";
  }
  .btn-downright:after {
    content: "REMOVE";
  }
  
}
 
@media all and (max-width: 862px) and (min-width: 766px) {

  #settings-cog {
    display: none;
  }
}