<div class="col-lg-10 col-lg-offset-1 well well-sm">
  <a href="#sales" role="button" class="btn btn-default">Individual Sale</a>
</div>

<section class="col-lg-10 col-lg-offset-1 ">
  <div class="panel panel-default">
      
    <div class="panel-heading">
      <h3 class="panel-title">Product List</h3>
    </div>
    <div class="panel-body row no-gutter">
      <div class="col-sm-12 row no-gutter">
           <div class="classic-sales textfill"><button>CAULIFLOWER</button></div>
           <div class="classic-sales textfill"><button>CALABRESE</button></div>
           <div class="classic-sales textfill"><button>GREEN/LEEKS</button></div>
           <div class="classic-sales textfill"><button>CABBAGE</button></div>
           <div class="classic-sales textfill"><button>POTATOES</button></div>
           <div class="classic-sales textfill"><button>SWEET POTS</button></div>
           <div class="classic-sales textfill"><button>RED ONIONS</button></div>
           <div class="classic-sales textfill"><button>ONIONS</button></div>
           <div class="classic-sales textfill"><button>PARSNIPS</button></div>
           <div class="classic-sales textfill"><button>CARROT</button></div>
           <div class="classic-sales textfill"><button>SWEDES</button></div>
      </div>
    </div>
  </div>
</section>