<div class="col-lg-10 col-lg-offset-1 well well-sm">
  <a href="#sheetview" role="button" class="btn btn-default">Product List View</a>
</div>

<section class="col-lg-5 col-lg-offset-1 no-gutter-left" salesinput>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Enter Single Sale</h3>
    </div>
    <div class="panel-body">
      <form class="form-horizontal">
      <div class="form-group">
        <label for="customer" class="col-md-2">Customer:</label>
        <div class=" col-md-10"><select id="customer" class="form-control"><option>Customer</option></select></div>
      </div>
      
        <div class="csstable" style="width: 100%;">
          <div class="csstr">
            <div class="cssth" style="width:40%;">Item</div>
            <div class="cssth" style="width:15%;">Amount</div>
            <div class="cssth" style="width:15%;">Cost</div>
            <div class="cssth" style="width:30%;">Transport</div>
          </div>       
          
          <div class="csstr">
            <div class="csstd">Cauliflower</div>
            <div class="csstd">55</div>
            <div class="csstd">&pound;2.20</div>
            <div class="csstd">PEARSONS</div>
          </div>      
          
          
           <div class="csstr">
            <div class="csstd">Cauliflower</div>
            <div class="csstd">55</div>
            <div class="csstd">&pound;2.20</div>
            <div class="csstd">PEARSONS</div>
          </div>      
           <div class="csstr">
            <div class="csstd">Cauliflower</div>
            <div class="csstd">55</div>
            <div class="csstd">&pound;2.20</div>
            <div class="csstd">PEARSONS</div>
          </div>      
          
        </div>
      </form>
      <form>
        <div class="form-group">
          <label for="customer">Customer:</label>
          <select id="customer" class="form-control"><option>Customer</option></select>
        </div>
        <div class="form-group">
          <label for="product">Product:</label>
          <div id="product" class="form-control" auto-completer rows="3" row1="sales.state.activeProductList" row2="sales.state.activeWeightList" row3="sales.state.activePackagingList"></div>
        </div>
        <div class="form-group">
          <label for="haulier">Haulier:</label>
          <select id="haulier" class="form-control"><option>Transport Company</option></select>
        </div>
         <div class="form-group">
          <label for="haulageCost">Haulage Cost:</label>
          <div class="input-group">
            <span class="input-group-addon">&pound;</span>
            <input id="haulageCost" class="form-control" />
            <span class="input-group-btn">
              <button class="btn btn-default" type="button">-</button>
              <button class="btn btn-default" type="button">+</button>
            </span>
          </div>
        </div>
        <div class="form-group">
          <label for="cost">Cost:</label>
          <input type="number" id="cost" class="form-control" />
        </div>
        
        <div class="form-group">
          <label for="qty">Quantity:</label>
          <input type="number" id="qty" class="form-control" />
        </div>
      </form>
    </div>
  </div>
</section>
<section class="col-lg-5  no-gutter-right">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Previous Orders</h3>
    </div>
    <div class="panel-body">
      Panel content
    </div>
  </div>
</section>