<div class="col-lg-10 col-lg-offset-1 well well-sm">
  <a href="#salesclassic" role="button" class="btn btn-default">Product List View</a>
</div>

<section class="col-lg-5 col-lg-offset-1" salesinput>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Enter Single Sale</h3>
    </div>
    <div class="panel-body">
      <form class="form-horizontal">
      <div class="form-group">
        <label for="customer" class="col-md-2">Customer:</label>
        <div class=" col-md-10"><select id="customer" class="form-control"><option>Customer</option></select></div>
      </div>
      
        <div class="table">
          <div class="tr">
            <div class="th" style="width:40%;">Item</div>
            <div class="th" style="width:15%;">Amount</div>
            <div class="th" style="width:15%;">Cost</div>
            <div class="th" style="width:30%;">Transport</div>
          </div>       
          
          <div class="tr">
            <div class="td">Cauliflower</div>
            <div class="td">55</div>
            <div class="td">&pound;2.20</div>
            <div class="td">PEARSONS</div>
          </div>      
          
          
           <div class="tr">
            <div class="td">Cauliflower</div>
            <div class="td">55</div>
            <div class="td">&pound;2.20</div>
            <div class="td">PEARSONS</div>
          </div>      
           <div class="tr">
            <div class="td">Cauliflower</div>
            <div class="td">55</div>
            <div class="td">&pound;2.20</div>
            <div class="td">PEARSONS</div>
          </div>      
          
           <div class="tr">
            <div class="td"><div class="form-group"><div id="product" class="form-control" auto-completer rows="3" row1="sales.productList" row2="sales.weightList" row3="sales.packagingList"></div></div></div>
            <div class="td"><div class="form-group"><input type="number" class="form-control"></div></div>
            <div class="td"><div class="form-group"><input type="number" class="form-control"></div></div>
            <div class="td"><div class="form-group"><select class="form-control"><option>Haulier</option></select></div></div>
          </div>     
        </div>
      </form>
      <form>
        <div class="form-group">
          <label for="customer">Customer:</label>
          <select id="customer" class="form-control"><option>Customer</option></select>
        </div>
        <div class="form-group">
          <label for="product">Product:</label>
          <div id="product" class="form-control" auto-completer rows="3" row1="sales.productList" row2="sales.weightList" row3="sales.packagingList"></div>
        </div>
        <div class="form-group">
          <label for="haulier">Haulier:</label>
          <select id="haulier" class="form-control"><option>Transport Company</option></select>
        </div>
         <div class="form-group">
          <label for="haulageCost">Haulage Cost:</label>
          <div class="input-group">
            <span class="input-group-addon">&pound;</span>
            <input id="haulageCost" class="form-control" />
            <span class="input-group-btn">
              <button class="btn btn-default" type="button">-</button>
              <button class="btn btn-default" type="button">+</button>
            </span>
          </div>
        </div>
        <div class="form-group">
          <label for="qty">Quantity:</label>
          <input type="number" id="qty" class="form-control" />
        </div>
      </form>
    </div>
  </div>
</section>
<section class="col-lg-5">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Previous Orders</h3>
    </div>
    <div class="panel-body">
      Panel content
    </div>
  </div>
</section>