<div purchases class="">
  <div class="col-lg-12 well well-sm">
    <a href="#sheetview" role="button" class="btn btn-default">Product List View</a>

  </div>

  <section class="col-lg-6 no-gutter-left" salesinput>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Enter Purchases</h3>
    </div>
    <div class="panel-body">
      <form class="form-horizontal">
          <div class="form-group">
              <label for="purchaseDate" class="col-md-2">Purchase Date:</label>
              <div class="col-md-10">
                  <input type="date" id="purchaseDate" ng-model="purchases.purDate" ng-value="purchases.purDate" required class="form-control">
              </div>
          </div>
        <div class="form-group">
          <label for="supplier" class="col-md-2">Supplier:</label>
          <div class="col-md-10">
            <select id="supplier" ng-model="purchases.activeSupplier" required class="form-control">
              <option ng-repeat="supplier in purchases.state.activeSupplierList" ng-value="supplier">{{supplier.name}}</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label for="product" class="col-md-2">Product:</label>
          <div class="col-md-10">
          <product id="product" class="form-control" 
                                state="purchases.state"
                                product="purchases.activeProduct" 
                                product-weight="purchases.activeWeight" 
                                product-packaging="purchases.activePackaging" 
                                product-descriptor="purchases.activeDescriptor">
          </product>
          </div>
        </div>
          <div class="form-group">
              <label for="transport" class="col-md-2">Transport Company:</label>
              <div class="col-md-10">
                  <select id="transport" ng-model="purchases.activeTransport" class="form-control">
                      <option ng-repeat="transport in purchases.state.activeTransportList" ng-value="transport">{{transport.name}}</option>
                  </select>
              </div>
          </div>
        <div class="form-group">
          <label for="cost" class="col-md-2">Quantity:</label>
          <div class="col-md-10"><input type="number" ng-model="purchases.qty" id="cost" step="0.01" min="0.00" max="5000.00" class="form-control" /></div>
        </div>
        <div class="form-group">
          <label for="cost" class="col-md-2">Cost Per:</label>
          <div class="col-md-10"><input type="number" ng-model="purchases.cost" id="cost" step="0.01" min="0.00" max="5000.00" class="form-control" /></div>
        </div>
      <div class="col-lg-12">
          <div ng-if="purchases.notifications.length > 0"
               ng-class="{ 'alert-success': !purchases.isError, 'alert-danger': purchases.isError }"
               class="alert">
              <div ng-repeat="notification in purchases.notifications">{{notification}}</div>
          </div>

      </div>

        <div class="form-group pull-right col-md-12">
          <button ng-click="purchases.addPurchase()" class="btn btn-primary pull-right"><span class="glyphicon glyphicon-tag"></span> Purchase</button>
        </div>
      </form>
    </div>
  </div>
  
  </section>


<section class="col-lg-6  no-gutter-right">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Purchases on {{ purchases.purDate }} for {{ purchases.activeSupplier != null ? purchases.activeSupplier.name : "all suppliers" }}</h3>
        </div>
        <table class="table table-striped">
             <thead>
                 <tr>
                    <th>Supplier</th>
                    <th>Product</th>
                    <th>Qty</th>
                    <th>Price</th>
                    <th>Collector</th>
                 </tr>
             </thead>
            <tbody>
                <tr ng-if="purchases.previousPurchases.length <= 0">
                    <td colspan="5" class="text-center text-info">No results to show</td>
                </tr>
            </tbody>
            <tbody ng-if="purchases.previousPurchases.length > 0">
                <tr ng-click="purchases.editPreviousPurchase(purchaserow)" ng-repeat="purchaserow in purchases.previousPurchases">
                    <td>{{ purchaserow.supplier.name }}</td>
                    <td>{{ purchaserow.product.name}} {{ purchaserow.weight.name}} {{ purchaserow.descriptor.name}} {{ purchaserow.packaging.name}}</td>

                    <td>{{ purchaserow.amount }}</td>

                    <td>&pound;{{ purchaserow.cost == null ? 0.0 : purchaserow.cost | number:2 }}</td>
                    <td>{{ purchaserow.collectingHaulier.name }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>
      
</div>