body { padding-top: 70px; }
.ng-hide, 
.ng-show {
   display: none !important;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
.form-inline .form-group > label {
 
}
.form-inline .form-group input,

.form-inline .form-group select
 {
 width: auto;;
 margin-left: 10px; 
 margin-right: 10px;
}

.navbar {
}

.splitr {
  width: 20px;
  display: inline-block;
}

.control-label.small {
  font-size: 12px;
  text-transform: uppercase;
}
[ng-click] {
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
[loader] {
  
  position:absolute;
  top: 0px;
  left: 0px;
   display: -moz-box;      /* OLD: Firefox (buggy) */ 
   display: -ms-flexbox;   /* MID: IE 10 */
   display: -webkit-flex;  /* NEW, Chrome 21–28, Safari 6.1+ */
   display: flex;          /* NEW: IE11, Chrome 29+, Opera 12.1+, Firefox 22+ */

   -webkit-box-align: center; -moz-box-align: center; /* OLD… */
   -ms-flex-align: center; /* You know the drill now… */
   -webkit-align-items: center;
   align-items: center;

   -webkit-box-pack: center; -moz-box-pack: center; 
   -ms-flex-pack: center; 
   -webkit-justify-content: center;
   justify-content: center;

   margin: 0;
   height: 100%;
   width: 100%;
   color:#999;
   z-index: 999;
}
progress {
  background-color: #EDEDED;
  height: 30px;
  border-radius: 30px;
  display: block;
  -webkit-appearance: none;
  border: none;
}
progress::-webkit-progress-value {
  background-color: #C1FFAB;
  border-radius: 5px;
}
progress::-moz-progress-value {
  background-color: #C1FFAB;
  border-radius: 5px;
}
progress::-webkit-progress-bar  { 
  background-color: #EDEDED;
  border-radius: 5px;
}
progress::-moz-progress-bar {
  background-color: #EDEDED;
  border-radius: 5px;
}

.flex-form {
      display: -webkit-flex;
      -webkit-flex-direction: row;

      display: flex;
      flex-direction: row;
}
.fullwidth {
  width: 100%;
}

@media all and (max-width: 831px) and (min-width: 766px) {

  #settings-cog {
    display: none;
  }
}

.wkb.checkbox {
  margin-top: 0px;
  margin-bottom: 0px;
}


@media all and (max-width: 1684px) {
  
}