/*
* BASE STYLES
*/

body { padding-top: 70px; }
.ng-hide, 
.ng-show {
   display: none !important;
}

[ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
.form-inline .form-group > label {
 
}
.form-inline .form-group input,

.form-inline .form-group select
 {
 width: auto;;
 margin-left: 10px; 
 margin-right: 10px;
}

.navbar {
}

.splitr {
  width: 20px;
  display: inline-block;
}

.control-label.small {
  font-size: 12px;
  text-transform: uppercase;
}
[ng-click] {
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/*
* LOADING SCREEN
*/
[loader] {
  
  position:absolute;
  top: 0px;
  left: 0px;
   display: -moz-box;      /* OLD: Firefox (buggy) */ 
   display: -ms-flexbox;   /* MID: IE 10 */
   display: -webkit-flex;  /* NEW, Chrome 21–28, Safari 6.1+ */
   display: flex;          /* NEW: IE11, Chrome 29+, Opera 12.1+, Firefox 22+ */

   -webkit-box-align: center; -moz-box-align: center; /* OLD… */
   -ms-flex-align: center; /* You know the drill now… */
   -webkit-align-items: center;
   align-items: center;

   -webkit-box-pack: center; -moz-box-pack: center; 
   -ms-flex-pack: center; 
   -webkit-justify-content: center;
   justify-content: center;

   margin: 0;
   height: 100%;
   width: 100%;
   color:#999;
   z-index: 999;
}
progress {
  background-color: #EDEDED;
  height: 30px;
  border-radius: 30px;
  display: block;
  -webkit-appearance: none;
  border: none;
}
progress::-webkit-progress-value {
  background-color: #C1FFAB;
  border-radius: 5px;
}
progress::-moz-progress-value {
  background-color: #C1FFAB;
  border-radius: 5px;
}
progress::-webkit-progress-bar  { 
  background-color: #EDEDED;
  border-radius: 5px;
}
progress::-moz-progress-bar {
  background-color: #EDEDED;
  border-radius: 5px;
}

/*
* WORKBOOK
*/

.flex-form {
      display: -webkit-flex;
      -webkit-flex-direction: row;

      display: flex;
      flex-direction: row;
}

.wkb.checkbox {
  margin-top: 0px;
  margin-bottom: 0px;
}

.fullwidth {
  width: 100%;
}

/* 
 * LISTS
 */

ul.listbox {
  font-weight: bold;
  padding: 0px;
  margin: 0;
  list-style: none;
  width: 100%;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: -1px 1px 30px 0px rgba(50, 50, 50, 0.06);
  -moz-box-shadow:    -1px 1px 30px 0px rgba(50, 50, 50, 0.06);
  box-shadow:         -1px 1px 30px 0px rgba(50, 50, 50, 0.06);
}
.listbox li {
  margin: 0;
  width: 100%;
}
.listbox li > div {
  position: relative;
  display: inline-block;
  padding:0;
  margin: 0;
  width: 80%;
  height: 60px;
  padding-left: 20px;
}
.listbox li:first-of-type {
  -webkit-border-top-left-radius: 2px;
  -webkit-border-top-right-radius: 2px;
  -moz-border-radius-topleft: 2px;
  -moz-border-radius-topright: 2px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}
.listbox li:last-of-type {
  -webkit-border-bottom-right-radius: 2px;
  -webkit-border-bottom-left-radius: 2px;
  -moz-border-radius-bottomright: 2px;
  -moz-border-radius-bottomleft: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}
.listbox li:nth-child(odd) {
  background-color: #F0F0F0;
}
.listbox li:nth-child(even) {
  background-color: #EDEDED;
}
.listbox li:hover {
  cursor: pointer;
  background-color: #FAFAFA;
}
.listbox li > .btn > span {
  width: 100%;
  text-align: center;
}
.listbox li > .btn {
  display: inline-block;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  color: #4D4D4D;
  text-align: left;
  padding:0;
  margin: 0;
  border: 0;
  margin-top: -2px; 
  width: 20%;
  height: 100%;
}
.button-group-right {
  padding-right: 15px; width: 30%; float: right;
}
.listbox.large li {
  line-height: 60px;
  height: 60px;
}


/* 
 * MEDIA QUERIES 
 */
 
@media all and (max-width: 831px) and (min-width: 766px) {

  #settings-cog {
    display: none;
  }
}

@media all and (max-width: 1684px) {
  
}