<section class="col-md-10 col-md-offset-1 well-sm well row" listoverview>
<div class="row col-md-2">
    <ul class="listbox large">
        <!--- LEAVE NO GAP BETWEEN BUTTON AND DIV OTHERWISE IT WILL THROW IT ONTO A NEW LINE -->
        <li ng-repeat="list in listoverview.lists">
            <div ng-click="listoverview.changeView(list.name)">{{list.name}}</div><button class="btn-default btn" ng-click="listoverview.changeView(list.name,true)"><span
                    class="glyphicon glyphicon-plus"></span></button>
        </li>
    </ul>
</div>
<div class="col-md-10 listbox-results row">
<br class="hidden-lg"/>

<div class="form-group col-lg-12">
        <select class="form-control" ng-model="listoverview.activeList.activeItem">
            <option ng-value="names" ng-repeat="names in listoverview.activeList.names">{{names.name}}</option>
        </select>
</div>
<div class="col-lg-12" ng-if="listoverview.activeList.name != null">
    <div ng-if="listoverview.activeList.notifications.length > 0"
         ng-class="{ 'alert-success': !listoverview.activeList.isError, 'alert-danger': listoverview.activeList.isError }"
         class="alert">
        <div ng-repeat="notification in listoverview.activeList.notifications">{{notification}}</div>
    </div>

</div>


<!-- WOULD HAVE DONE THIS DIFFERENTLY HOWEVER CANT REFRESH ANGULAR VIEWS TO INSERT A NEW TEMPLATE -->
<!-- TODO: Do this properly -->
<section>
    <div class="modal fade" id="saveChangesModal" tabindex="-1" role="dialog" aria-labelledby="confirmChanges"
         aria-hidden="{{listoverview.isSaveDialogShown}}">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="confirmChanges">Your changes have not been saved...</h4>
                </div>
                <div class="modal-body">
                    Do you wish to save your changes?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close / Edit</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal"
                            ng-click="listoverview.confirmedViewChange(listoverview.listNameUnconfirmed,listoverview.isAddUnconfirmed)">
                        Discard Changes
                    </button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="col-lg-12" ng-if="listoverview.activeList.name == 'Customer'">
<form role="form" class="form-horizontal">
<div class="panel panel-default">
    <div class="panel-heading"><h4>General Information</h4></div>
    <div class="panel-body">
        <fieldset>
            <div ng-hide="listoverview.activeList.isAdd" class="form-group">
                <label for="globalID" class="col-md-2">Global ID:</label>

                <div class="col-md-10">
                    <input type="text" class="form-control" id="globalID" disabled
                           placeholder="{XXXX99-XXXX-XXX-XX99}"
                           ng-model="listoverview.activeList.activeItem.quickbooksName">
                </div>
            </div>
            <div class="form-group">
                <label for="name" class="col-md-2">Name:</label>

                <div class="col-md-10">
                    <input type="email" class="form-control" id="name"
                           ng-model="listoverview.activeList.activeItem.name" placeholder="Name">
                </div>
            </div>

            <div class="form-group">
                <label for="terms" class="col-md-2">Terms:</label>

                <div class="col-md-10">
                    <select id="terms" required ng-model="listoverview.activeList.activeItem.termsRef" class="form-control">
                        <option ng-repeat="term in listoverview.state.termsList" value="{{term.key}}">{{term.name}}</option>
                    </select>
                </div>
            </div>
        </fieldset>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading"><h4>Bill Address</h4></div>
            <div class="panel-body">
                <fieldset>
                    <div class="form-group">
                        <label for="billAddressLine1" class="sr-only">Line 1:</label>

                        <div class="col-md-12">
                            <input type="text" ng-model="listoverview.activeList.activeItem.billto1"
                                   class="form-control" id="billAddressLine1" placeholder="Line 1">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="billAddressLine2" class="sr-only">Line 2:</label>

                        <div class="col-md-12">
                            <input type="text" ng-model="listoverview.activeList.activeItem.billto2"
                                   class="form-control" id="billAddressLine2" placeholder="Line 2">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="billAddressLine3" class="sr-only">Line 3:</label>

                        <div class="col-md-12">
                            <input type="text" class="form-control"
                                   ng-model="listoverview.activeList.activeItem.billto3" id="billAddressLine3"
                                   placeholder="Line 3">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="billAddressLine4" class="sr-only">Line 4:</label>

                        <div class="col-md-12">
                            <input type="text" ng-model="listoverview.activeList.activeItem.billto4"
                                   class="form-control" id="billAddressLine4" placeholder="Line 4">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="billAddressLine5" class="sr-only">Line 5:</label>

                        <div class="col-md-12">
                            <input type="text" ng-model="listoverview.activeList.activeItem.billto5"
                                   class="form-control" id="billAddressLine5" placeholder="Line 5">
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading"><h4>Shipping Address</h4></div>
            <div class="panel-body">
                <fieldset>
                    <div class="form-group">
                        <label for="billAddressLine1" class="sr-only">Line 1:</label>

                        <div class="col-md-12">
                            <input type="text" class="form-control"
                                   ng-model="listoverview.activeList.activeItem.shipto1" id="billAddressLine1"
                                   placeholder="Line 1">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="billAddressLine2" class="sr-only">Line 2:</label>

                        <div class="col-md-12">
                            <input type="text" ng-model="listoverview.activeList.activeItem.shipto2"
                                   class="form-control" id="billAddressLine2" placeholder="Line 2">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="billAddressLine3" class="sr-only">Line 3:</label>

                        <div class="col-md-12">
                            <input type="text" ng-model="listoverview.activeList.activeItem.shipto3"
                                   class="form-control" id="billAddressLine3" placeholder="Line 3">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="billAddressLine4" class="sr-only">Line 4:</label>

                        <div class="col-md-12">
                            <input type="text" ng-model="listoverview.activeList.activeItem.shipto4"
                                   class="form-control" id="billAddressLine4" placeholder="Line 4">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="billAddressLine5" class="sr-only">Line 5:</label>

                        <div class="col-md-12">
                            <input type="text" ng-model="listoverview.activeList.activeItem.shipto5"
                                   class="form-control" id="billAddressLine5" placeholder="Line 5">
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading"><h4>Contact Information</h4></div>
    <div class="panel-body">
        <fieldset>
            <div class="form-group">
                <label for="invoiceEmail" class="col-md-2">Invoice Email:</label>

                <div class="col-md-10">
                    <div class="input-group">
                            <span class="input-group-addon">
                              <input ng-model="listoverview.activeList.activeItem.isEmailedInvoice" id="invoiceEmail"
                                     type="checkbox">
                            </span>
                        <input type="text" ng-model="listoverview.activeList.activeItem.invoiceEmail"
                               class="form-control" id="invoiceEmail" placeholder="invoicing@customersite.com">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="confirmationEmail" class="col-md-2">Confirmation Email:</label>

                <div class="col-md-10">
                    <div class="input-group">
                            <span class="input-group-addon">
                              <input ng-model="listoverview.activeList.activeItem.isEmailedConfirmation"
                                     id="confirmationEmail" type="checkbox">
                            </span>
                        <input type="text" ng-model="listoverview.activeList.activeItem.confirmationEmail"
                               class="form-control" id="confirmationEmail"
                               placeholder="confirmations@customersite.com">
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="fax" class="col-md-2">Fax Number:</label>

                <div class="col-md-10">
                    <input type="text" class="form-control"
                           ng-model="listoverview.activeList.activeItem.faxNumber" id="fax"
                           placeholder="02077204444">
                </div>
            </div>

            <div class="form-group">
                <label for="phone" class="col-md-2">Phone Number:</label>

                <div class="col-md-10">
                    <input type="text" ng-model="listoverview.activeList.activeItem.phoneNumber"
                           class="form-control" id="phone" placeholder="02077204444">
                </div>
            </div>

        </fieldset>
    </div>

</div>

<div class="panel panel-default">
    <div class="panel-body">
        <listbuttons controller="listoverview.activeList" name="Customer"></listbuttons>
    </div>
</div>

</form>

</section>

<section class="col-lg-12" ng-if="listoverview.activeList.name == 'Suppliers'">
    <form role="form" class="form-horizontal">
        <div class="panel panel-default">
            <div class="panel-heading"><h4>General Information</h4></div>
            <div class="panel-body">
                <fieldset>
                    <div ng-hide="listoverview.activeList.isAdd" class="form-group">
                        <label for="globalID" class="col-md-2">Global ID:</label>

                        <div class="col-md-10">
                            <input type="text" ng-model="listoverview.activeList.activeItem.quickbooksName" class="form-control" id="globalID" disabled
                                   placeholder="{XXXX99-XXXX-XXX-XX99}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="globalID" class="col-md-2">Name:</label>

                        <div class="col-md-10">
                            <input type="text" ng-model="listoverview.activeList.activeItem.name" class="form-control" id="name" placeholder="Supplier Name">
                        </div>
                    </div>
                </fieldset>
                <div class="form-group">
                    <label for="terms" class="col-md-2">Terms</label>

                    <div class="col-md-10">
                      <select id="terms" required ng-model="listoverview.activeList.activeItem.termsRef" class="form-control">
                          <option ng-repeat="term in listoverview.state.termsList" value="{{term.key}}">{{term.name}}</option>
                      </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading"><h4>Address</h4></div>
            <div class="panel-body">
                <fieldset>
                    <div class="form-group">
                        <label for="addressLine1" class="sr-only">Line 1:</label>

                        <div class="col-md-12">
                            <input type="text" class="form-control" id="addressLine1" ng-model="listoverview.activeList.activeItem.addressLine1" placeholder="Line 1">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="addressLine2" class="sr-only">Line 2:</label>

                        <div class="col-md-12">
                            <input type="text" class="form-control" id="addressLine2" ng-model="listoverview.activeList.activeItem.addressLine2" placeholder="Line 2">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="addressLine3" class="sr-only">Line 3:</label>

                        <div class="col-md-12">
                            <input type="text" class="form-control" id="addressLine3" ng-model="listoverview.activeList.activeItem.addressLine3" placeholder="Line 3">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="addressLine4" class="sr-only">Line 4:</label>

                        <div class="col-md-12">
                            <input type="text" class="form-control" id="addressLine4" ng-model="listoverview.activeList.activeItem.addressLine4" placeholder="Line 4">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="addressLine5" class="sr-only">Line 5:</label>

                        <div class="col-md-12">
                            <input type="text" class="form-control" id="addressLine5" ng-model="listoverview.activeList.activeItem.addressLine5" placeholder="Line 5">
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading"><h4>Contact Information</h4></div>
            <div class="panel-body">
                <fieldset>
                    <div class="form-group">
                        <label for="remittanceEmail" class="col-md-2">Remittance Email:</label>

                        <div class="col-md-10">
                            <div class="input-group">
                            <span class="input-group-addon">
                              <label for="remittanceEmailCheckbox"></label><input ng-model="listoverview.activeList.activeItem.isEmailedRemittance" id="remittanceEmailCheckbox"
                                                                                  type="checkbox">
                            </span>
                                <input type="text" class="form-control" id="remittanceEmail" ng-model="listoverview.activeList.activeItem.remittanceEmail"
                                       placeholder="accounts@suppliersite.com">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="confirmationEmail" class="col-md-2">Confirmation Email:</label>

                        <div class="col-md-10">
                            <div class="input-group">
                            <span class="input-group-addon">
                              <label>
                                  <input ng-model="listoverview.activeList.activeItem.isEmailedConfirmation" type="checkbox">
                              </label>
                            </span>
                                <input type="text" class="form-control"  ng-model="listoverview.activeList.activeItem.confirmationEmail" id="confirmationEmail"
                                       placeholder="confirmations@suppliersite.com">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="fax" class="col-md-2">Fax Number:</label>

                        <div class="col-md-10">
                            <input type="tel" class="form-control" id="fax"  ng-model="listoverview.activeList.activeItem.faxNumber" placeholder="02077204444">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="phone" class="col-md-2">Phone Number:</label>

                        <div class="col-md-10">
                            <input type="tel" class="form-control" ng-model="listoverview.activeList.activeItem.phoneNumber" id="phone" placeholder="02077204444">
                        </div>
                    </div>

                </fieldset>
            </div>

        </div>

        <div class="panel panel-default">
            <div class="panel-body">
                <listbuttons controller="listoverview.activeList" name="Supplier"></listbuttons>
            </div>
        </div>

    </form>
</section>

<section class="col-lg-12" ng-if="listoverview.activeList.name == 'Transport'">
    <form role="form" class="form-horizontal">
        <div class="panel panel-default">
            <div class="panel-heading"><h4>General Information</h4></div>
            <div class="panel-body">
                <fieldset>
                    <div class="form-group">
                        <label for="supplier" class="col-md-2">Link to Supplier:</label>

                        <div class="col-md-10">
                            <select id="supplier" ng-model="listoverview.activeList.activeItem.quickbooksName" required class="form-control">
                                <option ng-repeat="supplier in listoverview.state.activeSupplierList" ng-value="supplier.quickbooksName">{{supplier.name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="globalID" class="col-md-2">Name:</label>

                        <div class="col-md-10">
                            <input type="text" ng-model="listoverview.activeList.activeItem.name" class="form-control" id="name" placeholder="Haulier Name">
                        </div>
                    </div>
                </fieldset>

            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading"><h4>Surcharges</h4></div>
            <div class="panel-body">
                <fieldset class="row">
                    <div class="col-md-12 col-lg-3 surcharge-container">
                        <div class="form-group col-md-12">
                            <multi-select header="['Date Before', 'Surcharge']" output="listoverview.activeList.activeResult"
                                          column-data="listoverview.activeList.activeItem.surchargesArray">

                            </multi-select>

                            <button  ng-click="listoverview.activeList.removeSurcharge()" class="btn btn-block btn-danger">
                                Remove Selected Surcharge
                            </button>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-8 col-lg-offset-1">
                        <div class="form-group">
                            <label for="surchargeBefore" class="col-md-2">Date Before</label>

                            <div class="col-md-10">
                                <input type="date" ng-model="listoverview.activeList.surDateStr" class="form-control" id="surchargeBefore">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="surcharge" class="col-md-2">Percentage</label>

                            <div class="col-md-10">
                                <div class="input-group">
                                    <input type="number" ng-model="listoverview.activeList.surcharge" class="form-control" id="surcharge">
                                <span class="input-group-addon">
                                  %
                                </span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-2 col-md-offset-10">
                                <button ng-click="listoverview.activeList.addSurcharge()" class="btn btn-block btn-success">
                                    Add Surcharge
                                </button>
                            </div>
                        </div>
                    </div>

                </fieldset>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading"><h4>Contact Information</h4></div>
            <div class="panel-body">
                <fieldset>
                    <div class="form-group">
                        <label for="transportSheetEmail" class="col-md-2">Transport Sheet Email:</label>

                        <div class="col-md-10">
                            <input  ng-model="listoverview.activeList.activeItem.transportSheetEmail" type="text" class="form-control" id="transportSheetEmail"
                                   placeholder="transport@transportsite.com">
                        </div>
                    </div>
                </fieldset>
            </div>

        </div>


        <div class="panel panel-default">
            <div class="panel-body">
                <listbuttons controller="listoverview.activeList" name="Haulier"></listbuttons>
            </div>
        </div>
    </form>
</section>

<section class="col-lg-12" ng-if="listoverview.activeList.name == 'Products'">
    <form role="form" class="form-horizontal">
        <div class="panel panel-default">
            <div class="panel-heading"><h4>Product</h4></div>
            <div class="panel-body">
                <fieldset>
                    <div ng-hide="listoverview.activeList.isAdd" class="form-group">
                        <label for="globalID" class="col-md-2">Global ID:</label>

                        <div class="col-md-10">
                            <input type="text" class="form-control" id="globalID" ng-model="listoverview.activeList.activeItem.Uuid" disabled
                                   placeholder="{XXXX99-XXXX-XXX-XX99}">
                        </div>

                    </div>
                    <div ng-hide="listoverview.activeList.isAdd" class="form-group">
                        <label for="globalID" class="col-md-2">Quickbooks Item Code:</label>

                        <div class="col-md-10">
                            <select id="globalID" class="form-control">
                                <option>Quickbooks Code</option>
                            </select>
                        </div>

                    </div>
                    <div class="form-group">
                        <label for="globalID" class="col-md-2">Product:</label>

                        <div class="col-md-10">
                            <input type="text" class="form-control" id="name" placeholder="Product Name">
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-lg-6">
                <div class="panel panel-default">
                    <div class="panel-heading"><h4>Weights</h4></div>
                    <div class="panel-body">
                        <div class="col-md-5">
                            <multi-select header="listoverview.activeList.colHeader"
                                          column-data="listoverview.activeList.colData">

                            </multi-select>

                        </div>
                        <div class="col-md-2">
                            <button class="btn btn-block btn-success"><span class="btn-upleft"></span></button>
                            <button class="btn btn-block btn-danger"><span class="btn-downright"></span></button>
                        </div>
                        <div class="col-md-5">
                            <multi-select header="listoverview.activeList.colHeader"
                                          column-data="listoverview.activeList.colData">

                            </multi-select>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-6">
                <div class="panel panel-default">
                    <div class="panel-heading"><h4>Packaging</h4></div>
                    <div class="panel-body">
                        <div class="col-md-5">
                            <multi-select header="listoverview.activeList.colHeader"
                                          column-data="listoverview.activeList.colData">

                            </multi-select>

                        </div>
                        <div class="col-md-2">
                            <button class="btn btn-block btn-success"><span class="btn-upleft"></span></button>
                            <button class="btn btn-block btn-danger"><span class="btn-downright"></span></button>
                        </div>
                        <div class="col-md-5">
                            <multi-select header="listoverview.activeList.colHeader"
                                          column-data="listoverview.activeList.colData">

                            </multi-select>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <listbuttons controller="listoverview.activeList" name="Product"></listbuttons>
            </div>
        </div>
    </form>
</section>


<section class="col-lg-12" ng-if="listoverview.activeList.name == 'Product Categories'">
    <form role="form" class="form-horizontal">
        <div class="panel panel-default">
            <div class="panel-heading"><h4>Product Category</h4></div>
            <div class="panel-body">
                <fieldset>
                    <div class="form-group">
                        <label for="categoryName" class="col-md-2">Category Name:</label>

                        <div class="col-md-10">
                            <input type="text" class="form-control" id="categoryName"
                                   ng-model="listoverview.activeList.activeItem.categoryName" maxlength="64"
                                   placeholder="Category Name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="colour" class="col-md-2">Label Colour:</label>

                        <div class="col-md-10">
                            <input type="color" class="form-control" id="colour"
                                   ng-model="listoverview.activeList.activeItem.categoryColour" placeholder="#FFFFFF">
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <listbuttons controller="listoverview.activeList" name="Product Category"></listbuttons>
            </div>
        </div>
    </form>
</section>


<section class="col-lg-12" ng-if="listoverview.activeList.name == 'Weights'">
    <form role="form" class="form-horizontal">
        <div class="panel panel-default">
            <div class="panel-heading"><h4>Weight</h4></div>
            <div class="panel-body">
                <fieldset>
                    <div class="form-group">
                        <label for="weightName" class="col-md-2">Weight Name:</label>

                        <div class="col-md-10">
                            <input type="text" ng-model="listoverview.activeList.activeItem.name" class="form-control" id="weightName" placeholder="Weight Name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="weight" class="col-md-2">Actual Weight (KG ONLY):</label>

                        <div class="col-md-10">
                            <div class="input-group">
                                <input type="number" ng-model="listoverview.activeList.activeItem.kg" class="form-control" id="weight" placeholder="100">
                                <span class="input-group-addon">KG</span>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <listbuttons controller="listoverview.activeList" name="Product Weight"></listbuttons>
            </div>
        </div>
    </form>
</section>

<section class="col-lg-12" ng-if="listoverview.activeList.name == 'Packaging'">
    <form role="form" class="form-horizontal">
        <div class="panel panel-default">
            <div class="panel-heading"><h4>Packaging</h4></div>
            <div class="panel-body">
                <fieldset>
                    <div class="form-group">
                        <label for="description" class="col-md-2">Packaging Description:</label>

                        <div class="col-md-10">
                            <input type="text" class="form-control" id="description" ng-model="listoverview.activeList.activeItem.description" placeholder="Description">
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <listbuttons controller="listoverview.activeList" name="Product Description"></listbuttons>
            </div>
        </div>
    </form>
</section>


<section class="col-lg-12" ng-if="listoverview.activeList.name == 'Terms'">
    <form role="form" class="form-horizontal">
        <div class="panel panel-default">
            <div class="panel-heading"><h4>Terms Sync</h4></div>
            <div class="panel-body">
                <fieldset>
                    <div class="form-group">
                        <label for="name" class="col-md-2">Name:</label>

                        <div class="col-md-10">
                            <input type="text" class="form-control" id="name"
                                   ng-model="listoverview.activeList.activeItem.name" required ng-disabled="!listoverview.activeList.isAdd" maxlength="64"
                                   placeholder="Terms Name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="stdDueDays" class="col-md-2">Terms Day:</label>

                        <div class="col-md-10">
                            <input type="number" class="form-control" id="stdDueDays"
                                   ng-model="listoverview.activeList.activeItem.stdDueDays" required ng-disabled="!listoverview.activeList.isAdd" placeholder="Days until due">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="stdDiscountDays" class="col-md-2">Discount Day:</label>

                        <div class="col-md-10">
                            <input type="number" class="form-control" id="stdDiscountDays"
                                   ng-model="listoverview.activeList.activeItem.stdDiscountDays" ng-disabled="!listoverview.activeList.isAdd" placeholder="Discount is applied when within this date">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="discountPct" class="col-md-2">Discount (%):</label>

                        <div class="col-md-10">
                            <input type="number" class="form-control" id="stdDueDays"
                                   ng-model="listoverview.activeList.activeItem.discountPct" ng-disabled="!listoverview.activeList.isAdd" placeholder="Percent discount to apply">
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
            <div ng-if="!listoverview.activeList.isAdd">
              <div class="col-sm-12 text-center alert alert-info alert-top">Quickbooks Does not support editing terms from outside of the application. Please modify the terms on Quickbooks and refresh the list.</div
              ><div class="col-sm-12 no-gutter alert-bottom"><button class="btn btn-primary alert-bottom" style="width:100%;"><span class="glyphicon glyphicon-refresh"></span></button></div>
            </div>
            <div class="pull-right" ng-if="listoverview.activeList.isAdd">
              <button class="btn btn-success" ng-click="listoverview.activeList.onAdd()">Add Term</button>
            </div>
            </div>
        </div>
    </form>
</section>


<section class="col-lg-12" ng-if="listoverview.activeList.name == 'Locations'">
    <form role="form" class="form-horizontal">
        <div class="panel panel-default">
            <div class="panel-heading"><h4>Location</h4></div>
            <div class="panel-body">
                <fieldset>
                    <div class="form-group">
                        <label for="locName" class="col-md-2">Location Name:</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" id="locName" ng-model="listoverview.activeList.activeItem.locationName" placeholder="Location Name">
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
        
        <div class="panel panel-default">
            <div class="panel-body">
                <listbuttons controller="listoverview.activeList" name="Location"></listbuttons>
            </div>
        </div>
    </form>
</section>



</div>
</section>